
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

:root {
    --darkViolet: #1F002B;
    --darkVioletTr: #1f002b87;
    --lightViolet: #36173D;
    --pink: #E4229C;
    --pinkTransparent: #470741;
    --barWhite: #E8EAF2;
    --textPrimary: #FFFFFF;
    --textSecondary: #C4C8CC;
}

body {
    width: 100%;
    min-height: 100lvh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Popins', sans-serif;
    font-size: 17px;
    color: var(--textPrimary);
    overflow: hidden;
}

#root {
    min-height: 100lvh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.App {
    width: 375px;
    height: 682px;
    background-color: var(--darkVioletTr);
    backdrop-filter: blur(6px);
    border-radius: 50px;
}

.accent {
    color: var(--pink);
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--pink);
  }